.homepage_header{
    padding: 30px;
    /* background-color: white; */
    width: 83%;
    margin: 35px auto;
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background: rgba(0,0,0,0.17);
}
.homepage_header_title{
    font-weight: 700;
    font-size: x-large;
}
.header_button{
    margin: 20px 0px 0px 0px;
}